@{
    ViewBag.Title = "Review 2 - .NET";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <h3>Mark Woodward</h3>
    <div>
        <h5>Welcome Consumer!</h5>
        <table width="100%" border="1" cellpadding="5px">
            <tr><th colspan="2">@Html.ActionLink("HOME","Index","Home")</th></tr>
            <tr style="height:500px">
                <th valign="top" width="25%">
                   <div class="sideBar">@Html.Partial("sideBar")</div>
                </th>
                <td valign="top">
                   <div class="main">@RenderBody()</div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
