@{Layout="_Layout";}
@model IEnumerable<Review2_NET.Models.Product>

<ul>
    <li>@Html.ActionLink("Add Product","Create","Products")</li>
</ul>

<h5>@Html.DisplayNameForModel()</h5>
<ol>
    @foreach(var product in Model)
    {
        <li>@Html.DisplayFor(model=>product.Name) : @Html.ActionLink("Info","Details","Products",new {id = product.ProductId}) : @Html.ActionLink("Edit","Update","Products",new {id = product.ProductId}) : @Html.ActionLink("Delete","Delete","Products",new {id = product.ProductId})</li>
    }
</ol> 
            